@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inder&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root{
    --body-color: #181A1B;

    --nav-color: #586367;
    --nav-text-color: #DDDAD5;

    --footer-color: #424749;
    --footer-text-color: #DDDAD5;

    --light-text-color: #D3CFC9;
    --dark-text-color: #726767;

}
/* Colores */



.main, .cuerpo{
    margin-top: 71px;
    min-height: 602px;
}