
/* HEADER */
nav{
    z-index: 100;
    position:  fixed;
    top: 0%;
    left: 0%;
    height: 70px;
    width: 100%;
    background-color: var(--nav-color);
}

nav .nav-bar{
    position: relative;
    height: 100%;
    max-width: 85%;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .logo{
    text-decoration: none;
    display: flex;
    align-items: center;
}

nav .nav-bar .logo h2{
    font-size: 25px;
    color: var(--nav-text-color);
    font-weight: 600;
    text-decoration: none;
}

nav .nav-bar .logo img{
    margin: 0 5px;
    height: 32px;
    width: auto;
    border-radius: 5px;
}

.nav-bar .nav-links{
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li{
    margin: 0 5px;
    list-style: none;
}

.nav-links li a{
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: var(--nav-text-color);
    text-decoration: none;
    padding: 10px;
}

.nav-links li a::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--nav-text-color);
    opacity: 0;
    transition: all 0.5s ease;
}

.nav-links li:hover a::before{
    opacity: 1;
}

/* FOOTER */
footer{
    position: relative;
    padding: 0.5%;
    bottom: 0%;
    width: 100%;
    background-color: var(--footer-color);
}

footer .footer-bar{
    max-width: 30%;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

.footer-nav .nav-items *{
    list-style: none;
    color: var(--footer-text-color);
    text-decoration: none;
}

.footer-nav .nav-items h1{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

.footer-nav .nav-items a{
    font-size: 14px;
}